<div id="inline-div">
  <div id="talk">
    <div id="ct">
      <h2>Crypto Talk</h2>
    </div>
    <div id="ct-feed"></div>
  </div>

  <div id="cryptos">
    <div>
      <ul>
        <% tickers.forEach(ticker => { %>

        <li><%= ticker.symbol %></li>

        <% }) %>
      </ul>
    </div>
  </div>
  <div>
    <div id="prices">
      <ul>
        <% tickers.forEach(ticker => { %>

        <li><%= ticker.price %></li>

        <% }) %>
      </ul>
    </div>
  </div>
</div>
