<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Crypto Watch</title>
  </head>
  <body>
    <div id="container">
      <header id="cw">Crypto Watch</header>
      <nav>
        <ul id="nav-bar">
          <% if(user){ %>
          <li><a class="links" href="/">Home</a></li>
          <li><a class="links" href="/users/profile">Your Crypto Watch</a></li>
          <li><a class="links" href="/users/logout">Logout</a></li>

          <% } else { %>
          <li><a class="links" href="/users/new">Sign Up</a></li>
          <li><a class="links" href="/users/login">Login</a></li>
          <% } %>
        </ul>
      </nav>

      <%- body %>
    </div>
  </body>
</html>
