@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: black;
  font-family: Bebas Neue;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cw {
  background-color: black;
  color: #8c00ff;
  border: solid 2px rgb(0, 123, 255);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#nav-bar {
  background-color: #8c00ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.links:hover {
  color: white;
}

li {
  display: inline;
  list-style-type: none;
}

#inline-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: rgb(0, 123, 255) 2px solid;
  width: 1200px;
  height: 3500px;
}

#ct {
  color: #8c00ff;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  border: 2px solid rgb(0, 123, 255);
  width: 800px;
}

#ct-feed {
  align-self: flex-start;
  border: 2px solid rgb(0, 123, 255);
  width: 800px;
  height: 3366px;
}

#cryptos {
  align-items: flex-start;
  border: 2px solid rgb(0, 123, 255);
  font-size: 25px;
  width: 200px;
  height: 3500px;
  color: rgb(220, 220, 92);
}

#prices {
  border: 2px solid rgb(0, 123, 255);
  font-size: 25px;
  width: 200px;
  height: 3500px;
  color: rgb(220, 220, 92);
}

#login-box {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: #8c00ff;
  border: 2px solid rgb(0, 123, 255);
}

#new-user-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: #8c00ff;
  border: 2px solid rgb(0, 123, 255);
}

.form-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  height: 30px;
  width: 400px;
  margin: 10px;
}

.button {
  height: 25px;
  width: 100px;
  margin: 10px;
}

#hello {
  color: #8c00ff;
}

#your-crypto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: rgb(0, 123, 255) 2px solid;
  width: 1200px;
  height: 1700px;
}

#your-crypto-search {
  border: 2px rgb(0, 123, 255) solid;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #8c00ff;
  margin: 20px;
  font-size: 20px;
  width: 300px;
  height: 300px;
  overflow: scroll;
}

#your-crypto-box {
  display: flex;
  flex-direction: column;
  border: rgb(0, 123, 255) 2px solid;
  color: chartreuse;
  margin: 20px;
  width: 400px;
  height: 700px;
}
