@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: black;
  font-family: Bebas Neue;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cw {
  background-color: black;
  color: #c10606;
  border: solid 2px rgb(0, 123, 255);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#nav-bar {
  background-color: #c10606;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.links:hover {
  color: white;
}

li {
  list-style-type: none;
}

#inline-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: rgb(0, 123, 255) 2px solid;
  width: 1200px;
  height: 2700px;
  overflow: scroll;
}

#ct {
  color: #c10606;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 2px solid rgb(0, 123, 255);
  width: 800px;
  height: 100px;
}

#post-form {
  margin-left: 40px;
  color: rgb(220, 220, 92);
  height: 70px;
  width: 740px;
  display: flex;
  flex-direction: column;
}

.posts {
  margin-top: 60px;
}

#post {
  margin: 0px;
  height: 25px;
  width: 650px;
}

#post-submit {
  background-color: #c10606;
  color: black;
  height: 25px;
  border: none;
}
#post-submit:hover {
  color: white;
}

#ct-feed {
  align-self: flex-start;
  border: 2px solid rgb(0, 123, 255);
  font-size: 30px;
  color: white;
  width: 800px;
  height: 2566px;
}

#edit-window {
  width: 550px;
}

.post-deletes {
}

.put-delete-button {
  background-color: black;
  color: #c10606;
  border: none;
}

#cryptos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(0, 123, 255);
  font-size: 35px;
  width: 200px;
  height: 2700px;
  color: rgb(220, 220, 92);
}

#prices {
  border: 2px solid rgb(0, 123, 255);
  font-size: 35px;
  width: 200px;
  height: 2700px;
  color: rgb(220, 220, 92);
}

#login-box {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: #c10606;
  border: 2px solid rgb(0, 123, 255);
}

#new-user-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
  background-color: #c10606;
  border: 2px solid rgb(0, 123, 255);
}

.form-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  height: 30px;
  width: 400px;
  margin: 10px;
}

.button {
  height: 25px;
  width: 100px;
  margin: 10px;
}

#hello {
  color: #c10606;
}

#your-crypto-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: rgb(0, 123, 255) 2px solid;
  width: 1200px;
  height: 600px;
}

#your-crypto-search {
  border: 2px rgb(0, 123, 255) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c10606;
  margin: 20px;
  font-size: 25px;
  width: 300px;
  height: 300px;
  overflow: scroll;
}

.crypto-search-text {
  margin: 0px;
  padding: 0px;
  height: 40px;
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-button {
  margin-top: 10px;
  background-color: black;
  color: #c10606;
  border: none;
}

#search-button:hover {
  color: white;
}

#your-crypto-box {
  display: flex;
  flex-direction: column;
  border: rgb(0, 123, 255) 2px solid;
  color: rgb(220, 220, 92);
  font-size: 35px;
  margin: 20px;
  width: 300px;
  height: 500px;
  overflow: scroll;
}
.user-crypto-remove {
  background-color: black;
  color: #c10606;
  height: 3vh;
  border: none;
}
