<div id="login-box">
  <form action="/users/login" method="POST" class="form-align">
    <input type="email" name="email" placeholder="Email" class="inputs" />

    <input
      type="password"
      name="password"
      placeholder="Password"
      class="inputs"
    />

    <button type="submit" class="button">Login</button>
  </form>
</div>
