<div id="new-user-form">
  <form action="/users" method="POST" class="form-align">
    <div class="new-input">
      <input class="inputs" type="email" name="email" placeholder="Email" />
    </div>
    <div class="new-input">
      <input
        class="inputs"
        type="text"
        name="userName"
        placeholder="User Name"
      />
    </div>
    <div class="new-input">
      <input
        class="inputs"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="button">
      <button type="submit">Sign Up</button>
    </div>
  </form>
</div>
