<h2 id="hello"> <%= user.email%></h2>
<div id="your-crypto-box"
<form method="GET" action="/results">
  <label for="search">Search</lablel>
  <input type="text" id="search" name="cryptoSearch" />

  <input type="submit" />
</form>
